@media (max-width: 768px) {
    .menu-btn {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--secondary-color);
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        transition: top 0.3s ease;
    }

    .nav-links.active {
        top: 70px;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .home {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 100px;
    }

    .home-content h1 {
        font-size: 36px;
    }

    .home-img img {
        width: 250px;
        height: 250px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .contact-container {
        flex-direction: column;
    }
